package {{ .ServiceGroupName }}

import (
	"github.com/cborum/go-saxo"
)
{{ $DocsBaseUrl := .DocsBaseUrl -}}
{{ $ServiceGroupName := .ServiceGroupName -}}
{{ $includeApiVersion := .SaxoData.Includeapiversion -}}
{{ $apiVersion := .SaxoData.Apiversion -}}
{{ range .SaxoData.Endpoints }}
{{ printf "%s %s%s" "//" $DocsBaseUrl .Refdocsurl }}{{ $responseType := (getResponseType .Key $ServiceGroupName) }}
func {{ .Key }}{{if $includeApiVersion}}{{ $apiVersion }}{{ end }}({{ getFuncParameters .Parameters .Key $includeApiVersion $apiVersion -}}) ({{ $responseType }}, error) {
    resp, err := saxo.GetClient().HttpClient.{{ lower .Httpmethod | title }}("{{ .URL }}")
    if err != nil {
        return nil, err
    }
    {{- if hasResponseType .Key $ServiceGroupName }}
    var respJson {{ $responseType }}
    err = resp.ToJSON(respJson)
    if err != nil {
        return nil, err
    }
    return respJson, nil
    {{- else }}
    return resp.Bytes(), nil
    {{- end }}
}

{{ if hasNonRouteParameters .Parameters -}}
type {{ .Key -}}{{if $includeApiVersion}}{{ $apiVersion }}{{end}}Params struct { {{ range .Parameters }}
    {{ if isNonRoute .Origin }}{{ sanitize .Name }} {{ getParamType .Datatype }}{{ if .Isrequired }} // required{{- end }}{{ end -}} 
{{- end }} 
}
{{ end }}
{{- end }}